main {
  padding-inline: 15%;

  .search-add {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    >button{
      width: 50px;
      height: 50px;
    }
    .search {
      height: 3rem;
      width: 22rem;
      background: #fff;
      display: flex;
      align-items: center;
      border: solid 1px transparent;
      border-radius: 25px;
      padding: 0 1rem 0 2rem;

      box-shadow: 2px 2px 6px 0px rgba(139, 139, 139, 0.10);

      &:has(input:focus) {
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
      }

      input {
        border: none;
        outline: none;
        height: 100%;
        width: 17rem;
        font-family: Inter;
        font-weight: 500;

        &::placeholder {
          font-size: .9em;
          color: #ABABAB;
        }
      }

      button {
        height: 2rem;
        background: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #ABABAB;
      }
    }
  }

  .swiper{
    padding: 1rem;
    .swiper-pagination{
      bottom: 0px;
    }

  }
}