@import "variables.modules";

.my-card{
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 30px;
  //height: 500px;
  img{
    width: 100%;
    border-radius: 30px;
    /*height: 350px;*/
  }
  .card-name,.card-price{
    font-family: Inter;
    font-weight: bold;
  }
  .card-name{
    font-size: 1.6rem;
    margin-top: 0.5rem;
    color: #282828;
  }
  .price-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    .card-price{
      font-size: 2rem;
      color: #4A7DFF;
    }
    .card-quantity{
      font-size: 1.2rem;
      font-family: "Kadwa";
      color: #ABABAB;
    }
  }
}


